USE [DWH_Production]
GO
/****** Object:  Table [dbo].[Temp_PnlStatement]    Script Date: 04-07-2025 03:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_PnlStatement](
	[UID] [float] NULL,
	[Commissions GP] [float] NULL,
	[Controllable Expenses] [float] NULL,
	[Travel] [float] NULL,
	[o/w Car rental] [float] NULL,
	[o/w Airfare] [float] NULL,
	[o/w Hotel] [float] NULL,
	[o/w Travel - Others] [float] NULL,
	[Store Supplies] [float] NULL,
	[Utilities Expense] [float] NULL,
	[o/w Utilities Expense - Alarms & Security] [float] NULL,
	[o/w Utilities Expense - Electricity] [float] NULL,
	[o/w Utilities Expense - Natural Gas] [float] NULL,
	[o/w Utilities Expense - Phone & Internet] [float] NULL,
	[o/w Utilities Expense - Waste & Trash Pickup] [float] NULL,
	[o/w Utilities Expense - Water & Sewer] [float] NULL,
	[Payroll - Store] [float] NULL,
	[o/w Payroll - Commission] [float] NULL,
	[o/w Payroll - Overtime] [float] NULL,
	[o/w Payroll - Regualr] [float] NULL,
	[Paycom, Recruiting, Company email etc#] [float] NULL,
	[Repairs] [float] NULL,
	[Inventory Write Off] [float] NULL,
	[Fixed Expenses] [float] NULL,
	[Marketing] [float] NULL,
	[Bank & Credit Card Processing Fee] [float] NULL,
	[Real Estate Expense and Taxes] [float] NULL,
	[General Management Fee] [float] NULL,
	[Month Date] [datetime] NULL
) ON [PRIMARY]
GO
